li:hover > * {
    visibility: visible;
    float: center;
}

.icono-oculto {
      visibility: hidden;
    }

.card {
    background-color: #A0C591;
    padding: 5px;
}

ul li {
    list-style-type: none;
    border: 2px solid #4C713E;
  }
   
    

   